body {
    background-color: rgb(153, 174, 192);
}

.sizeIt {
    min-width: 200%;
}
.container {
    width: 100%;
}
.nav-wrapper {
    background-color: rgba(86, 150, 111, 0.753);
}

.brand-logo {
    margin-left: 10px;
}

#dateTime {
    margin-right: 10px;
}

.card {
    border-radius: 10px;
    background-color: bisque;
    
}



h1, h4, h5 {
    font-weight: bold;
}

.btn {
    background-color: rgba(167, 100, 167, 0.801);
}
.btn:hover {
    background-color: rgba(86, 150, 111, 0.753);
    border-color: rgba(86, 150, 111, 0.753);
}







.modal {
    border-radius: 10px;
    background-color: rgba(167, 100, 167, 0.801);
    color: white;
}